html,body {
	height: 100%
}

.header-wrapper {
	padding-bottom: 0px;
}

.header-wrapper .navbar-inverse {
	background: #323232;
	height: 68px
}

.header-wrapper .navbar-inverse .navbar-brand {
	height: auto;
	padding: 10px 10px 15px
}

.header-wrapper .navbar-inverse .navbar-nav {
	float: none;
	margin: 8px
}

.header-wrapper .navbar-inverse .navbar-nav>.open>a:focus {
	background: transparent
}

.header-wrapper .navbar-inverse .navbar-nav .thumbnail {
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 20px;
	overflow: hidden;
	max-width: 32px;
	max-height: 32px
}

.header-wrapper .navbar-inverse .navbar-nav .thumbnail img {
	width: 24px;
	height: 24px
}

.header-wrapper .navbar-inverse .qh-icon {
	margin: 15px 15px 0 0
}

.notify-icon{
	margin: 0px !important;
}

.header-wrapper .icon-home {
	background-position: 0 0
}

.header-wrapper .icon-bell {
	background-position: 0 -33px;
	cursor:default
}


.header-wrapper .icon-bell .badge {
	top: -7px;
	position: absolute;
	right: -3px;
	min-height: 20px;
	line-height: 13px;
	background: #fff;
	color: #f55b22
}

.qh-icon {
	background: url(../images/sprite22.png) no-repeat;
	width: 22px;
	height: 22px;
	display: inline-block
}

.qh-icon.icon-tree {
	background-position: 0 -170px
}

.qh-icon.icon-location {
	background-position: 0 -198px
}

.qh-icon.icon-chevron-up {
	background-position: 0 -242px;
	height: 15px
}

.qh-icon.icon-chevron-down {
	background-position: 0 -223px;
	height: 15px
}

.qh-icon.icon-remove {
	background-position: 0 -266px
}

.qh-icon.icon-ok {
	background-position: 0 -294px
}

.qh-icon.icon-edit {
	background-position: 0 -315px
}

.qh-icon.icon-bin {
	background-position: 0 -340px
}

.qh-icon-32 {
	width: 40px;
	height: 35px;
	display: inline-block;
	background: url(../images/sprite32.png) no-repeat
}

.qh-icon-32.icon-user {
	background-position: -5px -3px;
	margin-left: 10px;
	margin-top: 5px;
	width: 32px;
	height: 32px
}

.qh-icon-32.icon-activity {
	background-position: -5px -38px;
	margin-left: 9px;
	margin-top: 3px;
	width: 32px;
	height: 32px
}

.qh-icon-32.icon-wrench {
	background-position: 0 -91px
}

.qh-icon-32.icon-add-user {
	background-position: 0 -145px
}

.qh-icon-32.icon-activate-server {
	background-position: 0 -196px
}

.qh-icon-32.icon-get-started {
	background-position: 0 -245px
}

.round {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border-width: 2px;
	border-style: solid;
	display: inline-block;
	background: #fff;
	position: absolute;
	right: -10px;
	top: 3px 
}

.round.orange{
	border-color: #F48D38;
}
.round.red {
	border-color: #cf5239;
	left: 139px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.round.red{left:125px}
}

.round.yellow {
	border-color: #f0e400;
	left: 139px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.round.yellow{left:125px}
}
.round.green {
	border-color: #88b847;
	left: 139px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.round.green{left:125px}
}
.round.orange-filled {
	border: 0;
	background: #c34a1f
}

.round.yellow-filled {
	border: 0;
	background: #f0e400
}

.round.green-filled {
	border: 0;
	background: #88b847
}

.recent-activity-title {
	border-bottom: 1px solid #ebe9e8;
	padding-bottom: 10px;
	margin-bottom: 30px
}

.user-recent-activity td {
	padding-left: 40px;
	padding-bottom: 30px;
	vertical-align: top
}

.user-recent-activity td .recent-activity-row {
	border: 1px solid #ccc;
	border-left: none;
	padding: 10px 0 0 30px;
	background: url(../images/half_circle.jpg) no-repeat left 0
}

.user-recent-activity td h5 {
	margin: 0
}

.user-recent-activity td p {
	margin-bottom: 6px
}

.user-recent-activity td:first-child {
	border-right: 1px solid #ccc;
	padding-left: 0
}

.user-recent-activity td:first-child h3 {
	position: relative !important;
	margin-top: 0;
	margin-bottom: 0
}

.user-recent-activity td:first-child h3 .orange-filled {
	right: -40px;
	top: 0;
	width: 50px;
	height: 50px
}

.main-wraper {
	height: auto;
	margin: 0 auto -32px;

}

.main-wraper.login-page {
	padding-top: 70px;
	position: relative;
	margin: 0 0 70px 0
}

.main-wraper.login-page .signin-list {
	margin-top: 20px;
	padding-left: 20px;
	color: #7d7c7c;
	font-size: 14px
}

.main-wraper.login-page .signin-list>li {
	padding-bottom: 10px
}

.main-wraper.login-page .cloud-login-content {
	border-right: 1px solid #b8b8b8
}

.middle-container {
	background: #fff;
	margin-bottom: 50px;
}

.middle-container .page-header .btn-group {
	padding-top: 0
}

.middle-container .page-header .btn-group .btn {
	background-color: #eceff1
}

.middle-container .page-header .dashboard-group .btn {
	padding: 2px 10px
}

.middle-container .page-header .btn-adduser,.btn-removeuser,.btn-edituser,.btn-pdf,.btn-csv
	{
	float: right;
	margin-top: 25px
}
.exportToLabel{
	float: right;
	margin: 32px 13px 0 0;
}
.middle-container .page-header>h1>small {
	color: #323232
}

.middle-container .firsttime-user-actions {
	font-size: 1.2em
}

.middle-container .firsttime-user-actions>li {
	padding-right: 20px
}

.middle-container .firsttime-user-actions>li>a {
	border: 1px solid #b7b7b7;
	border-radius: 4px;
	padding: 40px 0;
	text-align: center;
	display: block;
	text-decoration: none;
	color: #333
}

.middle-container .firsttime-user-actions>li>a>i {
	margin-bottom: 15px
}

.middle-container .rhs-box {
	background: #4c4c4c;
	padding: 15px;
	border-radius: 12px;
	margin-top: 35px;
	width: 100%;
	z-index: 9;
}

.middle-container .rhs-box ul {
	list-style: none;
	padding-left: 0;
	color: #fff
}

.middle-container .rhs-box ul li ul {
	margin-left: 25px
}

.middle-container .rhs-box ul li li {
	border-bottom: 1px solid #5a5a5a
}

.middle-container .rhs-box ul li li:last-child {
border-bottom: none;
}

.middle-container .rhs-box ul li li:first-child {
border-top: 1px solid #5a5a5a;
}

.middle-container .rhs-box ul li h5 {
	padding-top: 10px;
	padding-left: 25px;
	cursor: default;
	background: url(../images/sprite22.png) no-repeat -3px -88px;
	color:#F48D38;
}

.middle-container .rhs-box ul li h5.admin {
	background-position: -3px -113px
}

.middle-container .rhs-box ul li h5.reporting {
	background-position: -3px -140px
}

.middle-container .rhs-box ul li a {
	color: #fff;
	text-decoration: none;
	padding: 10px 0;
	display: inline-block
}

.middle-container .license-history-wrap th {
	vertical-align: top
}

.middle-container .license-expiry-list li {
	position: relative;
	border-bottom: 1px solid #c0bebd;
	width: 30%;
	margin: 0 -5px 0 0
}

.middle-container .license-expiry-list li:last-child i.round {
	right: 10px;
	left: auto
}

.middle-container .license-expiry-list li:first-child i.round {
	left: 5px;
	right: auto;
	top: -10px
}

.middle-container .license-expiry-list li i.round {
	left: 35%;
	right: auto;
	top: -10px;
	border: 1px solid #ccc
}

.middle-container .license-state {
	padding: 10px 0 40px 0
}

.middle-container .license-state>span {
	display: inline-block;
	padding-bottom: 10px
}

.middle-container .license-info {
	list-style: none;
	padding: 0 0 0 5px;
	margin-bottom: 35px
}

.middle-container .license-info>li {
	padding: 10px 20px 10px 0;
	text-align: left
}

.middle-container .license-info>li span {
	display: inline-block;
	width: 150px
}

.middle-container .activation-status>div progress {
	margin: 10px;
	width: 50%
}

.middle-container .nofication-history-wrap {
	margin-top: 20px;
	margin-bottom: 70px;
	width: 100%
}

.middle-container .nofication-history-wrap.user-details tr td {
	padding-left: 25px
}

.middle-container .nofication-history-wrap.user-details tr td>div.clearfix
	{
	border: 1px solid #ccc;
	border-left: none;
	padding: 5px 0 0 25px;
	background: url(../images/half_circle.jpg) no-repeat 0 0
}

.middle-container .nofication-history-wrap.user-details tr td>div.clearfix h5
	{
	font-size: 16px;
	margin: 0 0 3px 0
}

.middle-container .nofication-history-wrap.user-details tr td>div.clearfix p
	{
	margin-bottom: 6px
}

.middle-container .nofication-history-wrap.user-details tr td .avtar-wrap
	{
	padding: 0;
	float: right
}

.middle-container .nofication-history-wrap.user-details tr td:first-child h3
	{
	margin-top: 2px
}

.middle-container .nofication-history-wrap.user-details tr td:first-child h3 .round
	{
	right: -25px;
	width: 50px;
	height: 50px;
	top: 0
}

.middle-container .nofication-history-wrap tr td {
	padding-left: 25px;
	position: relative;
	vertical-align: top;
	padding-bottom: 30px;
	color: #616161
}

.middle-container .nofication-history-wrap tr td.notification-actions .btn-group
	{
	display: none
}

.middle-container .nofication-history-wrap tr td h4 {
	margin-top: 3px
}

.middle-container .nofication-history-wrap tr td h4 a {
	color: #616161;
	text-decoration: none
}

.middle-container .nofication-history-wrap tr td:first-child {
	border-right: 1px solid #c2c2c2;
	padding: 0
}

.middle-container .nofication-history-wrap tr td:first-child h3 {
	margin: 0;
	font-size: 22px
}

.middle-container .nofication-history-wrap tr td:first-child span {
	display: inline-block;
	padding-top: 3px
}

.middle-container .nofication-history-wrap .notification-actions .glyphicon
	{
	color: #f58325;
	font-size: 18px
}

.middle-container .policies-table thead th:last-child {
	padding-left: 30px
}

.middle-container .add-user-credentials {
	margin-bottom: 30px;
	clear:both;
}

.middle-container .add-user-credentials .form-control {
	width: 100%
}

.middle-container .list_assign_role {
	padding-right: 0;
	margin-right: -15px;
	padding-bottom: 30px
}

.middle-container .list_assign_role li {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    margin-bottom: 5px;
    padding: 8px;
}

.middle-container .list_assign_role li>div {
	padding-bottom: 5px
}

.middle-container .list_assign_role li>div .radio-placeholder {
	width: 14px;
	height: 14px;
	border: 1px solid transparent;
	-ms-box-shadow: 0 0 1px 1px #a1a1a1;
	-o-box-shadow: 0 0 1px 1px #a1a1a1;
	-moz-box-shadow: 0 0 1px 1px #a1a1a1;
	-webkit-box-shadow: 0 0 1px 1px #a1a1a1;
	box-shadow: 0 0 1px 1px #a1a1a1;
	border-radius: 11px;
	display: inline-block;
	vertical-align: middle;
	background: #fff;
	margin-right: 5px
}

.middle-container .list_assign_role li:hover,.middle-container .list_assign_role li.active
	{
    background: none repeat scroll 0 0 #ECEFF1;
    border: 2px solid #F48D38;
    border-radius: 10px;
    color: #727272;
}

.middle-container .list_assign_role li:hover .radio-placeholder,.middle-container .list_assign_role li.active .radio-placeholder
	{
	border: 1px solid #2e4f73;
	background: #F48D38;
}

.middle-container .list_assign_role li:hover p,.middle-container .list_assign_role li.active p
	{
	color: #fff !important
}

.middle-container .tree-container {
	padding-left: 30px;
	/*border-left: 1px solid #a1a1a1;*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none
}

.middle-container .add-user-tree {
	margin-bottom: 65px
}

.form-signin>input {
	margin: 15px 0;
	line-height: 32px
}

.form-signin .forgot-pwd {
	font-size: 14px;
	color: #969594
}

.form-signin-heading {
	font-size: 18px;
	color: #333;
	margin-bottom: 10px
}

.form-signin-heading>p {
	font-size: 14px;
	color: #323232;
	padding: 3px 0 10px
}

.form-signin-heading>div {
	font-size: 42px;
	font-weight: normal;
	color: #7c7c7c;
	margin: 5px 0 30px 0
}

.btn-custom,.btn-radius {
	border-radius: 17px;
	border-color: #f48d38 !important;
	background: #eceff1;
	padding-left: 35px;
	padding-right: 35px;
	color: #727272 !important;
	outline:none !important;
}

.btn-radius {
	border-color: #c6c8ca !important;
	color: #666
}

.avtar-wrap {
	padding-top: 20px
}

.avtar-wrap h4 {
	margin: 5px
}

.avtar {
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
	width: 38px;
	height: 38px;
	text-align: center;
	border-radius: 19px;
	float: left;
	margin-right: 10px;
	border: 2px solid #93adc9
}

.avtar>img {
	max-width: 34px;
	max-height: 34px;
	text-align: center
}
/*------------manage users ----------------*/
.user-link p{
	margin: 0px 0px 0px 10px;
}

.users-table>tbody>tr:hover {
	background: #ccc;
	cursor: pointer;
}

.users-table>tbody>tr:hover td {
	background: transparent !important;
}

.users-table>tbody>tr {
	border-bottom: 1px solid #ccc;
}

table.table-custom {
	margin-bottom: 50px
}

table.table-custom tr>th {
	color: #fff;
	background: #5b5b5a;
	padding: 8px 15px
}

table.table-custom tr>th>.glyphicon {
	font-weight: normal;
	font-size: 14px
}

table.table-custom tr>th:first-child {
	border-radius: 4px 0 0 4px
}

table.table-custom tr>th:last-child {
	border-radius: 0 4px 4px 0
}

table.table-custom tbody>tr:first-child td {
	padding-top: 17px
}

table.table-custom tr>th,table.table-custom tr>td {
	border: 0
}

.activity-table .date {
	color: #999;
	width: 150px;
	float: left;
	text-align: center;
	margin: -26px 0px 0px;
}

.activity-table .time,.info {
	width: 150px;
	float: left;
	text-align: center;
}

.activity-table .desc {
	font-size: 12px
}

#tree-container {
	height: 457px
}

.adduserForm input {
	padding: 6px 12px;
	width: 100%;
}

.assignGroup {
	float: left;
	padding: 0 20px 0 0;
}

.activity-table .date , .notfiy-history-table .date{color:#999;width:150px;float:left;text-align: center;  margin: -82px 0px 0px;}
.activity-table .time , .notfiy-history-table .time ,.info{width:173px;float: left;text-align: center;}
.activity-table .desc , .notfiy-history-table .desc, .desc{font-size: 12px}

.notfiy-history-table hr{
	margin-top: -14px;
	margin-bottom: 5px;
	border-color: #BBBBBB;
}
#tree-container{height:457px}
.assignGroup span {
	margin: 0 0 0 10px;
}

.user_image>img {
	width: 60px;
}

.user_image {
	border: 2px solid #93ADC9;
	border-radius: 100%;
	display: table-cell;
	float: left;
	height: 70px;
	margin-right: 50px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	width: 70px;
	background: #555;
}

.user_name {
	color: #959595;
	font-size: 20px;
	font-weight: normal;
}

.user_email span,.user_role span {
	color: #959595;
}

.grpRow {
	padding: 0 0 20px;
}

.footer-wrapper {
	background: #323232;
	height: 32px;
	line-height: 32px;
	color: #fff;
	font-size: 12px;
	position: fixed;
	width: 100%;
	bottom: 0px;
	left: 0px;
	z-index: 200;
}

.footer-wrapper.login-footer {
	background: #ea5e2b;
	height: auto;
	position: relative;
	bottom: 0
}

.footer-wrapper.login-footer .cloud-lock-img {
	right: 0;
	top: -61px;
	position: relative;
	float: right
}

.pt-7 {
	padding-top: 7px
}

.pt-25 {
	padding-top: 25px
}

.mr-10 {
	margin-right: 10px
}

.mr-20 {
	margin-right: 20px
}

.pt-10 {
	padding-top: 10px
}

.pb-40 {
	padding-bottom: 40px
}

.pb-10 {
	padding-bottom: 10px
}

.mb-30 {
	margin-bottom: 30px
}

.pd-0 {
	padding-left: 0
}

.pt-0 {
	padding-top: 0
}

.mt-15 {
	margin-top: 15px
}

.icon-menu {
	background-position: 0 -65px;
	position: fixed;
	left: 0;
	top: 95px;
}

.ac-title,.ac-title1 {
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	user-select: none
}

.ac-title.title-custom {
	color: #fff;
	background: #5b5b5a;
	padding: 10px 15px 11px;
	border-radius: 4px;
	font-weight: bold
}

.ac-title.title-custom p {
	margin: 0
}

.progressbar {
	width: 100px;
	margin: 0 auto 10px;
	background: #a9a9a9;
	height: 15px;
	border-radius: 8px
}

.progress-count1 {
	background: #cf5239;
	display: inline-block;
	width: 40%;
	height: 15px;
	float: left;
	border-radius: 8px
}

.progress-count2 {
	background: #cf5239;
	display: inline-block;
	width: 40%;
	height: 15px;
	float: left;
	border-radius: 8px
}

.progress-count3 {
	background: #cf5239;
	display: inline-block;
	width: 40%;
	height: 15px;
	float: left;
	border-radius: 8px
}

.progress-count4 {
	background: #cf5239;
	display: inline-block;
	width: 40%;
	height: 15px;
	float: left;
	border-radius: 8px
}

.carousel-caption {
	background: rgba(0, 0, 0, 0.55);
	right: 0;
	left: 0;
	bottom: 0;
	padding: 0 0 0 15px;
	text-align: left
}

.carousel-caption h3 {
	font-size: 1.7em;
	margin-bottom: 0;
	margin-top: 10px
}

.text-orange {
	color: #cf5239
}

.text-default {
	color: #333
}

@media ( max-width :992px) {
	.license-history-wrap {
		font-size: 12px
	}
	.cloud-lock-img {
		top: -90px !important
	}
}

@media ( max-width :600px) {
	.cloud-lock-img {
		top: -50px !important
	}
	.form-signin-heading>div {
		font-size: 30px
	}
}

.vertical .carousel-inner {
	height: 100%
}

.carousel.vertical .item {
	-webkit-transition: .6s ease-in-out top;
	-moz-transition: .6s ease-in-out top;
	-ms-transition: .6s ease-in-out top;
	-o-transition: .6s ease-in-out top;
	transition: .6s ease-in-out top
}

.carousel.vertical .active {
	top: 0
}

.carousel.vertical .next {
	top: 400px
}

.carousel.vertical .prev {
	top: -400px
}

.carousel.vertical .next.left,.carousel.vertical .prev.right {
	top: 0
}

.carousel.vertical .active.left {
	top: -400px
}

.carousel.vertical .active.right {
	top: 400px
}

.carousel.vertical .item {
	left: 0
}

/* report settings */
.autodelete,.emailSetting {
	margin-left:3%;
}

.settingLabel {
	margin: 2px 0 10px 5px;
	font-weight: normal;
	width: 90%
}

.settingLabelFrequency{
	width: 75%;
	margin: 2px 0 10px 5px;
	font-weight: normal;
}

.settingLabelDays{
	width: 100%;
	margin: 2px 0 10px 5px;
	font-weight: normal;
}

.settingLabelAt{
	width: 80%;
	margin: 2px 0 10px 5px;
	font-weight: normal;
}

.days-limit{
	width:50px;	
}
.emailTextfield {
	width: 100%;
	margin: 10px 0 10px 5px;
	height:50px;
}

#email-limit{
	background: none repeat scroll 0 0 #ECEFF1;
	border: 1px solid #F48D38 !important;
	color: #727272;
	cursor: pointer;
	height: 30px;
	width:20%;
}

#email-at{
	background: none repeat scroll 0 0 #ECEFF1;
	border: 1px solid #F48D38 !important;
	color: #727272 ;
	cursor: pointer;
	height: 30px;
/* 	width:85%; */
}

#email-frequency{
	background: none repeat scroll 0 0 #ECEFF1;
	border: 1px solid #F48D38 !important;
	color: #727272;
	cursor: pointer;
	height: 30px;
/* 	width:100%; */
}

#product-type{
	background: none repeat scroll 0 0 #ECEFF1;
	border: 1px solid #F48D38 !important;
	color: #727272;
	cursor: pointer;
	height: 30px;
/* 	width:90%; */
	margin-left:-25%;
}

#product-type-export{
	background: none repeat scroll 0 0 #ECEFF1;
	border: 1px solid #F48D38 !important;
	color: #727272 !important;
	cursor: pointer;
	height: 30px;
/* 	width:90%; */
	margin-left:-35%;
}

.simpleLable {
	margin: 2px 0 10px 0px;
	font-weight: normal;
	width: 100px;
	float: left;
}

.checkboxListEps li, .checkboxListUtm li{
	display:inline !important;
	list-style: none;
	padding: 10px 10px 10px 10px;
}

.checkboxListEpsExport li, .checkboxListUtmExport li{
	display:inline !important;
	list-style: none;
	padding: 10px 10px 10px 10px;
}

.showUtm{
	display:none;
	margin-top: -5%; 
	margin-left: -4%;
}

.showUtmExport{
	display:none;
	margin-top: 1%; 
	margin-left: -4%;
}

.showEps{
	margin-top: -5%; 
	margin-left: -4%;
}

.showEpsExport{
	margin-top: 1%; 
	margin-left: -4%;
} 

#wrapper {
	background: #fff;
	margin: 10px auto;
}

 .frequencyDiv{
	margin-left:-1%;
	margin-bottom:-4% !important;
}

.treeDiv{
	margin-left:-5%;
}

#date-picker-td{
	width:25%;
}

#date-picker-td img {
    margin-left: -2%;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-title select {
    color: #000;
}

.mainCheckbox {
	list-style: none;
}
#productLicenseDialog {
	/* height: 500px; */
	overflow-y: auto;
}
/* forgot password and reset password */

.header
{
	line-height: 60px;
	background-color: #323232;
	font-size: 20px;
	font-weight: bold;
}
.headerimg
{
	float: left;
	text-align: center;
	width: 170px;
}
.blockTitle {
  
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

.blockContent {
	line-height: 50px;
	text-align: center;
	font-size: 14px;
}
.middle-container1 {
	background-color: #fff !important;
}

.mainB {
	width: 100%;
	height: 585px;
	position: absolute;
}

.centerBlock {
	vertical-align: middle;
	height: 230px;
	width: 500px;
	margin: 0 auto;
	position: relative;
	top: 30%;
	/* -webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%); */
	background-color: #fff;
	box-shadow: 1px 1px 10px #000;
}



.alignText {
	text-align: left;
	margin-left: 52px;
}


#forgotPassTextField
{
	width: 252px;
	
}
#alignCenter
{
	text-align: center;
}
/*unregistered product */
.col-menu .col-md-2 > div
{
	/* float:left;
	padding-right: 130px !important; */
	
}
.col-menu div
{
	
}
.errortop
{
	width:100%;
	padding-top: 5px;
	background-color: #dedede;

}
.warningImage
{
	float: left;
}
.productkey
{
	width:100%;
	padding-top: 5px;
}
.errortopright
{
	padding-right: 20px;
	float: left;
	margin-left: 100px;
}
.headingPadleft
{
	float:left;
	padding-left: 20px;
}
/* License History */
.License-table
{
	
}

.License-table>tbody>tr {
	border-bottom: 1px solid #ccc;
}

.License-table>tbody>tr>td>a:hover {
	

}

.License-table>tbody>tr:hover td {
	background: transparent !important;
}

/* critical situation */
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default
	{
	/* border: 1px solid #cccccc; */
	background:url("../resources/images/ui-bg_glass_100_f6f6f6_1x400.png") 50%
		50% repeat-x;
	color: black;
}
/*------------- jquery ui tabs-------------*/ 
.ui-tabs-vertical {
	width: 100%;
}

.ui-tabs-vertical .ui-tabs-nav {
	float: left;
	width: 30%;
	height:100em;
}

.ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%;
	border-right-width: 1px !important;
}

.ui-tabs-vertical .ui-tabs-nav li a {
	display: block;
	width: 100% !important
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
	padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
	padding: 1em;
	float: right;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.ui-tabs-vertical .ui-tabs-nav li:last {
	border-bottom-width: 1px;
}

#tabsmain{
	margin-top: -5px;
	margin-left: -12px;
	margin-right: -10px;
}

#tabs-1,#tabs-2{
	margin-right: -30px;
}

.ui-widget .ui-widget {
    font-size: 0.8em;
}

#tabs,#tabs-second{
	margin: -10px -20px -10px -15px;
}

.ui-slider {
	background: green !important;
	height: 8px !important;
}

.ui-slider-range {
	background: yellow !important;
}

element.style {
}
.ui-state-default .ui-icon {
/* background-image: url("images/ui-icons_ef8c08_256x240.png"); */
}
.ui-widget-header .ui-icon {
	/*background-image:none !important;*/

}
.tooltipslider {
	position: absolute;
	z-index: 1020;
	display: block;
	padding: 5px;
	font-size: 11px;
	visibility: visible;
	margin-top: -2px;
	bottom: 120%;
	margin-left: -2em;
}

.tooltipslider .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top: 5px solid #000000;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	position: absolute;
	width: 0;
	height: 0;
}

.tooltip-inside {
	max-width: 200px;
	padding: 3px 8px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #000000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.ui-slider-handle {
	background: #ED6B51;
}

.ui-slider-handle { /*  background: #ED6B51 !important; */
	/*  border-bottom: 1px solid #a8a79f !important;
    border-right: 1px solid #a8a79f !important;
    height: 20px !important;
    width: 10px !important;
    margin: 0 !important;
    padding: 0px !important;
    display: inline-block !important;
    top: -4px !important; */
	
}

.ui-state-focus a:visited {
	text-decoration: none;
	background-color: #dedede;
}

.YourDiv1,.YourDiv2,.YourDiv3,.YourDiv4,.YourDiv5,.YourDiv8 {
	float: right;
	height: 100%;
	background: red;
	border-radius: 0 4px 4px 0;
}

.YourDiv6,.YourDiv7 {
	float: right;
	height: 100%;
	background: red;
	border-radius: 0 4px 4px 0;
}

.slider {
	margin-bottom: 56px;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}

#leftTabs ul {
	padding: .2em .1em .2em .2em;
	float: left;
	width: 30%;
}

.ui-slider {
	background: green;
	height: 8px;
}

.ui-slider-range {
	background: yellow;
}

.tooltipslider {
	position: absolute;
	z-index: 1020;
	display: block;
	padding: 5px;
	font-size: 11px;
	visibility: visible;
	margin-top: -2px;
	bottom: 120%;
	margin-left: -2em;
}

.tooltipslider .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top: 5px solid #000000;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	position: absolute;
	width: 0;
	height: 0;
}

.tooltip-inside {
	max-width: 200px;
	padding: 3px 8px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #000000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.ui-slider-handle {
	background: #ED6B51;
}

.ui-slider-handle { /*  background: #ED6B51 !important; */
	/*  border-bottom: 1px solid #a8a79f !important;
    border-right: 1px solid #a8a79f !important;
    height: 20px !important;
    width: 10px !important;
    margin: 0 !important;
    padding: 0px !important;
    display: inline-block !important;
    top: -4px !important; */
	
}

.leftTabs li a {
	float: left !important;
	padding: 22px 20px !important;
	text-decoration: none !important;
	width: 100% !important;
	color: #000000 !important;
	border: none;
}

.activetab {
	border: none !important;
	background: #dedede !important;
	font-weight: normal !important;
	color: #ffffff;
	width: 100% !important;
}
 .notifications {
display:none;
background: #fff;
width: 375px;
position: absolute;
margin: 15px 0 0 -125px;
border: 2px solid #999;
border-top: none;
padding-bottom: 12px;
box-shadow: 0px 4px 9px 4px #999;
z-index: 5;
}
.notifications .main_date{
	font-size:18px;
	float: left;
	padding:5px 0px 0px 10px;
	color:#999;
}
.notifications hr{
	clear:both;
	margin-top:0px !important;
	margin-bottom:10px !important;
}
.notifications .time{
	width: 84px;
float: left;
}
.notifications .show_history_link{
	width: 100%;
text-align: center;
float: left;
	
}
.notifications ul{
	padding: 0px;
}
.notifications li {
	list-style-type: none;
	margin-top:-2.8%
}
.notifications li a:hover{
	text-decoration: none;
}

.notify{
	height:300px;
	overflow-y:auto; 
}
#logDuration ,#duration{
background:none repeat scroll 0 0 #ECEFF1;
border: 1px solid #F48D38 !important;
color: #727272 !important;
cursor: pointer;
height: 33px;
padding: 6px 0px 8px 11px;
width: 146px;
margin: 0 10px 0 10px;
}
/* EPS dashboard */
.threatLevel {
	float: left;
	display: block;
	width: 100%;
	height: 50px;
	font-size: 13px;
	margin-top: 30px;
}

.threatMeter {
	
	float: right;
}

.threatText {
	padding: 7px;
	font-size: 15px;
}

span.block {
	display: block;
}

.NetStatChart {
	float: left;
	width: 100%;
	position: relative;
}

.NetGraph {
	float: left;
	
	position: relative;
	cursor: default;
}

.NetGraph-left {
	float: left;
	height: 25px;
	width: 70%;
	position: relative;
}

.NetGraph-Right {
	float: left;
	height: 25px;
	width: 30%;
	position: relative;
}

#lineChart {
	margin-top: 10px;
}

.headerborder {
	border-bottom: solid #807E7E 1px;
}

.NetList {
	
	float: right;
}

.NetListHeader {
	float: left;
	width: 100%;
	position: relative;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
}

.summary-table {
	border: 1px solid #EBEBEB;
	float: left;
	display: block;
	padding-left: 3px;
	min-height: 170px;
	box-shadow: 1px 1px 1px #888888;
	width: 100%;
}

.summary-table>table>tbody>tr>td {
	padding-right: 60px !important;
	padding-bottom: 20px !important;
	font-size: 12px;
	font-weight: normal;
	padding-left: 7px;
	padding-right: 7px;
}

.summary-table>table>thead>tr {
	
	line-height: 30px;
}

.summary-table>table>thead>tr>td {
	border-right: solid 1px #D4D4D4;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 7px;
	padding-right: 7px;
	background: -webkit-linear-gradient(#ffffff, #d4d4d4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #d4d4d4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff,#d4d4d4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #d4d4d4);
}

.chartTabs
{
	padding-left: 0px;
}
.chartTabs ul li {
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px;
}

.chartTabs ul li a {
	color: #000000;
	padding-right: 20px;
	font-weight: normal;
	font-size: 18px;
}

.selectedTab {
	font-weight: bold;
	border-bottom: solid #E66000 2px;
}

.hideTab {
	display: none;
}

.chartHeader {
	text-align: center;
	font-size: 24px;
	width: 100%;
	position: relative;
	float: left;
	text-align: center;
}

.chartContent {
	border: solid 1px #EBEBEB;
	height: 235px;
	width: 100%; position : relative;
	float: left;
	text-align: center;
	position: relative;
}

.bluecolorbar3 {
	height: 17px;
	background-color: #98C0E3;
	width: 50%;
	float: left;
}

.Redcolorbar3 {
	height: 17px;
	width: 50%;
	display: block;
	content: "";
	float: left;
	background-color: #EB6446;
}

.Yellowcolorbar3 {
	height: 17px;
	width: 25%;
	display: block;
	content: "";
	float: left;
	background-color: #DEDB33;
}

.bluecolorbar1 {
	height: 17px;
	background-color: #98C0E3;
	width: 50%;
	float: left;
}

.Redcolorbar1 {
	height: 17px;
	width: 25%;
	display: block;
	content: "";
	float: left;
	background-color: #EB6446;
}

.Yellowcolorbar1 {
	height: 17px;
	width: 25%;
	display: block;
	content: "";
	float: left;
	background-color: #DEDB33;
}
.bluecolorbar2 {
	height: 17px;
	background-color: #98C0E3;
	width: 50%;
	float: left;
}

.Redcolorbar2 {
	height: 17px;
	width: 25%;
	display: block;
	content: "";
	float: left;
	background-color: #EB6446;
}

.Yellowcolorbar2 {
	height: 17px;
	width: 25%;
	display: block;
	content: "";
	float: left;
	background-color: #DEDB33;
}
.barContainer {
	width: 100%;
	height: 17px;
	position: relative;
	padding: 10px 5px 10px 5px;
	margin: 15px 0px 0px 0px;
	float: left;
}
.progressIndicatorBox
{
	width: 10px;
height: 10px;
position: relative;
float: left;
margin: 3px 10px 0px 20px;
}
.redBackground
{
	background-color: #EB6446; 
}
.yellowbackground
{
	background-color: #DEDB33
}
.bluebackground
{
	background-color: #98C0E3;
}
.progressText
{
	float: left;
	font-weight: normal;
	font-size: 12px;
}
.barsymbols
{
	margin-top: 35px;
}
.totalEndpointsCheck
{
	text-align: center;
font-size: 30px;
margin: 8px 0px 2px;
color: rgb(85, 85, 85);
}
.TextString
{
	text-align: center;
	display: block;
}
.greyText
{
	color: grey;
}
.middleTop
{
	padding-bottom: 80px;
}
.tablestyle
{
	width: 100% !important;
}
.EndpointRatio
{
	float: left;
}
.vulnerabilityDonut
{
	float: right;
}
span.ethIcon {
	width: 25px;
	height: 25px;
	border: 1px solid #eee;
	float: left;
	margin: -20px 0 0 0;
	cursor: pointer;
}

.virus-blocked-table .progressbar, .intrusions-table .progressbar {
	width: 50%;
	margin: 0 auto 10px 0;
	background: none;
	height: 15px;
	border-radius: 8px
}
 .virus-blocked-table .progressCount1,  .virus-blocked-table .progressCount2,  .virus-blocked-table .progressCount3,
 .virus-blocked-table .progressCount4, .virus-blocked-table .progressCount5{
	background: #57C1FD;
	display: inline-block;
	height: 15px;
	float: left;
	border-radius: 2px;
	width: 40%;
}

 .intrusions-table .progressCount1,  .intrusions-table .progressCount2,  .intrusions-table .progressCount3,
 .intrusions-table .progressCount4, .intrusions-table .progressCount5 {
 	background: #23A828;
	display: inline-block;
	height: 15px;
	float: left;
	border-radius: 2px;
	width: 40%;
 }
 
#TabbedPanelsMaster {
    float: left;
    margin: 0;
    width: 100%;
}

.TabbedPanels {
    clear: none;
    float: left;
    margin: 0;
    outline: medium none;
    width: 100%;
}
.TabbedPanelsTabGroup, .TabbedPanelsTabGroup1 {
    float: right;
    margin: 0 -2px -1px 0;
    outline: medium none;
    padding: 0;
}

.TabbedPanelsTabSelected, .TabbedPanelsTabSelected1 {
    background-color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    color: #333333 !important;
    font-weight: bold;
}
.TabbedPanelsTab {
    color: #4E7EAB;
    cursor: pointer;
    float: left;
    font-size: 14px;
    list-style: none outside none;
    margin: 0 8px 0 0;
    outline: medium none;
    padding: 3px 7px;
    position: relative;
    text-align: center;
    border: 1px solid #B7B7B7;
    border-bottom: none;
}

.TabbedPanelsContentGroup , .TabbedPanelsContentGroup1{
    border-top: 1px solid #B7B7B7;
    clear: both;
    outline: medium none;
}
.TabbedPanelsContent {
    margin: 0;
    outline: medium none;
}

.graph {
    margin: 5px 0 0;
}
.graph ul li {
    border-bottom: 1px dotted #CCCCCC;
    color: #555555;
    float: left;
    padding: 5px 0;
    width: 100%;
    list-style-type: none;
}
.subheadinggrid {
    border-bottom: 1px solid #E5E5E5 !important;
    color: #555555 !important;
    font-weight: bold;
}

.graph ul .websiteurl {
    -moz-binding: url("../xml/ellipsis.xml#ellipsis");
    float: left;
    margin-right: 2%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 43%;
}

.graph ul .category {
    -moz-binding: url("../xml/ellipsis.xml#ellipsis");
    float: left;
    margin-right: 2%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 33%;
}

.graph ul .visits {
    float: left;
    text-align: right;
    width: 19.5%;
}
.acc-content
{
	 display: none;
}
.acc-content.default {
    display: block;
}
#SessionTimeout
{
	text-align: center;
	vertical-align: middle;
}
/* UTM Dashboard Style*/
.statusBlocks {
    width: 100%;
}

.UTMPort {
    border: 1px solid #DCDCDC;
    margin: 5px 0 5px 5px;
   
    width: 100%;
}
.UTMPort ul {
    margin: 0;
    padding: 0;
}
.UTMPort ul li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    clear: none;
    line-height: 22px;
   
    text-align: center;
    width: auto;
    float: left;
    padding: 0 5px;
}
.UTMUsageBlock {
   
    margin: 10px 0 0 5px;
    width: 305px;
}
.UTMUsageBlock p {
    margin: 5px 0 0;
}
.leftBlock {
    float: left;
}

.UTMUsageBlock p span {
    float: left;
    width: 110px;
}
.UTMUsageBlock p label {
    color: #1CA232;
    float: left;
    width: 35px;
}
.statusReport .col-xs-2 ul> li{
	list-style-type:none;
	
	display: block;
line-height: 40px;

	
}
.tickImage{
	clear: both;
    display: block;
    float: left;
    line-height: 24px;
    margin: 15px 0 0 0px;
	padding: 0px 6px 0px 0;

	
}
#contentDivImg .col-xs-6 ul li
{
	display: block;
line-height: 30px;
padding: 0 0 0 10px;
margin: 0px;
}
.statusHeading{
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}
div.col-xs-2 ul {
float: left;
margin: 0 0 0 -57px;
}
.defblockHeading
{
	width: 50%;
	float: left;
}
.totalHeading{
float: right;
padding-right: 39%;
}
.totalMessage
{
	float: left;
	 margin: 11px 0 0 3px;
}
.showAllMessage
{
	float: right;
	 margin: 11px 0 0 3px;
}
.ui-progressbar .ui-progressbar-value {
	margin: -1px;
	height: 100%;
	background: #57C1FD;
}
.ui-progressbar .ui-progressbar-overlay {
	background:none!important;
	height: 50%!important;
	filter: alpha(opacity=25);
	opacity: 0.25;
	width: 100% !important;
}
.progress_bar
{
	width: 100%;
	height: 30px !important;
	padding-bottom: 10px;
	border: none !important;
 background: none !important; 
color: none !important;
	
}

.ethPort
{
	
	
}
.ethPortImage
{
	width :18px;
	 height:16px;
	
}
.addNodeError{
color: #FF4C4C;
font-weight: bold;
margin: 5px 0 -3px 17px;
text-align: center;
float: left;
}
#notifyInstallDialog .addNodeError, #sendOTPDialog .addNodeError{margin: 0;}
.linkSelected
{
	border: gray solid 1px;
border-radius: 3px;
cursor:pointer;
background-color: #dedede;
}
#timezonelist{width:100%}
 
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: none repeat scroll 0% 0% #fff !important;
}
#addProductAdminDialog #stringOfPAs ,#sendOTPDialog #emailIds,#notifyInstallDialog #emailIdsNotifyInstall {resize:none;width: 100%;} 

.loading{
    display:none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=80);z-index: 1;
    height: 100vh;
}
.loading-image
{
	width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#SuccessMsg
{
	background-color: #F9EDBE;
	border: 1px solid #F79157;
	padding: 4px;
	font-size: 14px;
	font-weight: bold;
	display:none;
	width: 300px;
    margin: 0 auto;
}

/*--------showing yellow bar error msg ----------*/
.centerAlign
{
	display:block;
	text-align:center;
	margin: -10px 0 0 0;
	width: 100%;
}

.ErrorMsg,.SuccessMsg
{
	background-color: #F9EDBE;
	border: 1px solid #F79157;
	padding: 4px;
	font-size: 14px;
	font-weight: bold;
	display:none;
	width: 300px;
    margin: 0 auto;
}


/*--------- notification css ----------*/
#notifiaction-duration {
	border: 1px solid #F48D38 !important;
	padding: 5px 0px;
	width: 146px;
	height: 33px;
	cursor: pointer;
	margin-left:-10%
}

.datepicker-text {
	border: 1px solid #F48D38;
	border-radius: 5px;
	height: 33px;
	width: 17%;
	padding: 0px 0px 0px 5px;
}

#notification-container {
	height: 400px;
	border: 1px solid #D3D3D3;
	overflow-x: hidden;
    overflow-y: scroll;
}

#title {
/* 	margin-right: 3%; */
	margin-top: 4%;
}

.headings {
	margin-top: -1.75%;
}

.headings {
	margin-top: -1.75%;
}


.date-time{
	 margin-left: 25%; 
}

.notification{
/* 	margin-left: -340%; */
}

.ui-datepicker .ui-datepicker-title select {
	color: black !important;
}

#notify-table{
	width:100%;
	margin-top:1%;
	border-bottom: 2px solid grey;
}

#notify_time{
	width:12%;
	color: #2A6496;
	margin-left: 10px;
}

#notify-desc{
	padding-left:2%;
}

#notification-table{
	width:97%;
	margin-left:2%;
	margin-top:1%;
}

.heading{
font-weight:bold;
}

#common-date{
font-weight:bold;
width:8%;
}

.alignTop{
	padding-top:2% !important; 
}

.noData{
	margin-top: 10%;
 	height: 100px;
  	line-height: 100px;
  	text-align: center;
}
.noData span{
	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;   
  	font-weight: bold;
  	font-size: 130%;
}

.messageEmail{
	 margin-left:0.5%; 
	font-weight:normal;
	width:100%
}
#generate-log{
	margin-right:-7%
}

.notification-form{
	margin-left:-1%
}

select{
	border-radius:5px !important;
}



#timezonelist{
	width: 100%;
    height: 33px;
    border: 1px solid #D3D3D3 !important;
}

.profileEdit
{
	display: block;
width: 49% !important;
height: 34px;
padding: 0px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in
}

.MessageCleanup
{
	float:left;
	padding-bottom: 20px;
	padding-left: 5px;
}

.btn-custom:hover,.btn-custom:focus {
	color:#000 !important;
	background: none repeat scroll 0% 0% #ccc !important;
}



/*------------for tooltip -----------------------*/

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 100px;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-top: 5px solid hsla(0, 0%, 20%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.notification-icons{
	width: 30px;
	height: 30px;
	padding-top: 5px;
}

.caret-up {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-bottom: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  color: #F48D38;
}

#photoExtension
{
	border: none;
	box-shadow:none;
	margin-left: -10px;
}

.comboBox:hover
{
color: #000 !important;
background: none repeat scroll 0% 0% #ccc !important;
}

.caret-left{
	display: inline-block;
	width: 0px;
	height: 0px;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid transparent;
	border-right: 4px solid transparent ;
	border-left: 4px solid ;
	border-bottom: 4px solid transparent;
	color: #F48D38;
}

a, a:active, a:focus {
outline: none;
}

textarea {
    resize: vertical;
}

